@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css"); 
/* I currently don't know how to fix the fonts not loading issue so for now it will be using the Discord version's font file */

:root {
    --font: "Google Sans", sans-serif !important;
}

.MessageBox__Base-sc-jul4fa-0 {
    border-radius: 50px !important;
    position: relative;
    top: -10px;
    width: 98%;
    margin-left: 15px;
    position: relative;
}

.sc-dmlqKv {
    font-size: 110%;
} 

._sidebar_t7t23_39 {
    max-width: 240px;
}

._contentcontainer_t7t23_62 {
    min-width: 0px !important;
    max-width: 1600px !important;
    width: 80% !important;
    margin-left: 10%;
}

._closeButton_t7t23_240 {
    border: none !important;
}

._content_1avxi_40 {
    font-weight: 500 !important;
}

._item_1avxi_1 {
    transition: background-color .3s ease
}

.ServerSidebar__ServerList-sc-1lca5oe-1 {
    background: var(--primary-background);
    scrollbar-width: none;
}

.SidebarBase__GenericSidebarList-sc-1dma6vq-2 {
    background: var(--primary-background);
    scrollbar-width: none;
}

.SidebarBase__GenericSidebarBase-sc-1dma6vq-1 {
    background: var(--primary-background);
}

.MemberList__ListCategory-sc-1bwlier-0 {
    background: var(--primary-background);
}

.MessageBase-sc-1s9ehlg-0 {
    border-radius: 30px !important;
}

.TypingIndicator__Base-sc-1jama4m-0 {
    top: -10px;
    width: 98%;
    margin-left: 15px;
}

.TypingIndicator__Base-sc-1jama4m-0 > div {
    background-color: var(--primary-background);
    backdrop-filter: blur(0px) !important;
}

.MessageArea__Area-sc-1q4cka6-0 {
    margin-bottom: 15px;
}

.JumpToBottom__Bar-sc-v9kqir-0 {
    display: flex;
    top: 5px;
    border-radius: 0 0 0 0;
    z-index: 2;
    justify-content: center; 
    align-items: center;
}

.JumpToBottom__Bar-sc-v9kqir-0 > div {
    border-radius: 50px;
    width: 40%;
}
