@import url("https://github.com/61netpa/Revolt-Material/raw/refs/heads/main/files/google-sans.css");

:root {
  --font: "Google Sans", sans-serif !important;
}

.MessageBox__Base-sc-jul4fa-0 {
    border-radius: 50px !important;
    position: relative;
    top: -10px;
    width: 98%;
    margin-left: 15px;
    position: relative;
}

.sc-dmlqKv.iBmOin {
    font-size: 110%;
} 

._sidebar_t7t23_39 {
    max-width: 240px;
}

._contentcontainer_t7t23_62 {
    min-width: 0px !important;
    max-width: 1600px !important;
    width: 80% !important;
    margin-left: 10%;
}

._closeButton_t7t23_240 {
    border: none !important;
}

._content_1avxi_40 {
    font-weight: 500 !important;
}

._item_1avxi_1 {
    transition: background-color .3s ease
}

[class*=MessageBase-sc-1s9ehlg-0] {
    border-radius: 30px !important;
}
